.single .entry-content,
.page-about-opsworks .entry-content,
.page-about-jawsdays2015 .entry-content,
.box-content,
.page-solution-aws_opsworks .entry-content,
.page-solution-chefserver_hostedchef .entry-content {

	iframe {
		width: inherit;
		max-width: 100%;
		height: auto;
	}
}
